{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<h1>Hello profile!</h1>

<li class="nav-item">
  <a class="nav-link" href="{% url 'custom_password' %}">Change password</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'password_reset' %}">Change passwordreset</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'post_form' %}">Post Caresheet</a>
</li>



<div class="container-fluid">
    <div class="row justify-content-center">
        {% for animal in animal_caresheets %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'post_detail' animal.id %}">
            <div class="picture">
              <img style="width: 100%" src="{{MEDIA_URL}}{{animal.image}}" alt="">
            </div>
            <h4>{{animal.latinName}}</h4>
            </a>
          </div>
        </div>
      </div>
      <br/>

      {% endfor %}
    </div>
</div>
 {% endblock %}
