{% extends 'base.html' %}
{% load static %}

{% load bootstrap_tags %}
{% block title %}
Profile
{% endblock %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}

<div class="row">
  <!-- <div class="col-xs-12">
    <h2 style="text-align: center;">Personal profile</h2>
  </div> -->
  <div class="options" class="col-xs-12 col-md-2"
  <ul >
    <br/>
    <li class="nav-item">
      <a type="button" class="nav-link button btn" href="{% url 'custom_password' %}">Change password</a>
    </li>
    <br/>
    <li class="nav-item">
      <a type="button" class="nav-link button btn"  href="{% url 'post_form' %}">Post Caresheet</a>
    </li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-10 justify-content-center">
    <br/>
    <br/>
  <div class="row">
      {% for animal in animal_caresheets %}

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'post_detail' animal.id %}">
          <div class="picture">
            <img style="width: 100%" src="{{MEDIA_URL}}{{animal.image}}" alt="">
          </div>
          <h4>{{animal.latinName}}</h4>
          </a>
          <a class="button btn" href="{% url 'edit_post' animal.id %}">update</a>
          <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-{{ animal.id }}">Delete Caresheet</a>
          <div id="myModal-{{ animal.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 >{{animal.latinName}}</h4>
                </div>
                <div class="modal-body">
                  <p class="modal-title">Are you sure you want to delete this caresheet?</p>
                </div>
                <div class="modal-footer">
                  <a href="{% url 'delete_post' animal.id %}" class="btn btn-warning">Delete</a>

                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>
    {% endfor %}
  </div>
  <br/>
  <br/>
</div>
<br/>
<br/>
<br/>
 {% endblock %}
