.navbar {
  background-color: black;
}
/* .container-fluid {
  padding: 0!important;
} */
footer {

  background-color: black;
}

#div_id_author {
  visibility: hidden;
}

form {
  background-color: white;
}
