{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Create an Account{% endblock %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div  class="col-sm-12 col-md-6">
    <br/>
<div class="card">

    <div class="card-body">
      <h3>Register</h3>

      <form class="form-group" action="" method="post">
        <br/>
        <br/>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-success">Register</button>
      </form>
      <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Connect</a></button>

    </div>
  </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
{% endblock %}
