{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block links %}
  <link rel="stylesheet" href="{% static 'css/animal.css' %}">
{% endblock %}
{% block content %}
  <br/>
  <br/>
  <br/>
  <div style="justify-content: center;" class="row">
        <div class="col-xs-12">
          <div class="title">
            <h4>{{ animal.latinName }}</h4>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
  </div>
  <div class="row">
        <div class="col-xs-0 col-md-1">
        </div>

        <div class="col-sm-12 col-md-3">
          <div class="picture">
            <img style="width: 100%" src="{{MEDIA_URL}}{{animal.image}}" alt="">
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="intro">
            <h5>Short description</h5>
            <p><span>Cites:</span> {{ animal.cites }}</p>
            <p><span>Habitat:</span> {{ animal.habitat }}</p>
            <p><span>Size:</span> {{ animal.size }}</p>
            <p><span>Short discription:</span> {{ animal.shorttext }}</p>
          </div>
          <br/>
          <div class="body">
            <h5>Detailed description</h5>
            <br/>
            <h6>Feeding</h6>
            <p><span></span>{{ animal.feeding }}</p>
            <h6>Water</h6>
            <p><span></span>{{ animal.water }}</p>
            <h6>Enclosure</h6>
            <p><span></span>{{ animal.enclosure }}</p>
            <h6>Substrate</h6>
            <p><span></span>{{ animal.substrate }}</p>
            <h6>Temperature</h6>
            <p><span></span>{{ animal.temperature }}</p>
            <h6>Lighting</h6>
            <p><span></span>{{ animal.lighting }}</p>
            <h6>Heating</h6>
            <p><span></span>{{ animal.heating }}</p>
            <h6>Humidity</h6>
            <p><span></span>{{ animal.humidity }}</p>
            <h6>Sex</h6>
            <p><span></span>{{ animal.sex }}</p>
            <h6>Behaviour</h6>
            <p><span></span>{{ animal.behaviour }}</p>
            <h6>Handling</h6>
            <p><span></span>{{ animal.handling }}</p>
            <img src="{{MEDIA_URL}}{{animal.male}}" alt="">
            <img src="{{MEDIA_URL}}{{animal.female}}" alt="">
            <h6>Breeding</h6>
            <p><span></span>{{ animal.breeding }}</p>
            <h6>Incubation</h6>
            <p><span></span>{{ animal.incubation }}</P>
            <h6>Health</h6>
            <p><span></span>{{ animal.health }}</P>
            <h6>Diseases</h6>
            <p><span></span>{{ animal.diseases }}</P>
            <p><span class="boldtext">Views:</span> {{animal.views}}</p>
            <p><span class="boldtext">Likes:</span> {{animal.likes}}</p>
            <p><span class="boldtext">Dislikes:</span> {{animal.dislikes}}</p>
        </div>
        <div style="display: flex; flex-direction: row" class="likes">
          <form style="margin:10px;" method="POST" enctype="multipart/form-data" action="{% url 'like_post' animal.id%}">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Like</button>
          </form>
          <form style="margin:10px;" method="POST" enctype="multipart/form-data" action="{% url 'dislike_post' animal.id%}">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Unlike</button>
          </form>
        </div>
      </div>
  </div>
  <br/>
  <br/>
  <br/>

{% endblock %}
