{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block links %}
  <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-md-3">
    <br/>
    <br/>
<div style="background-color: lightgray;" class="searchbox">
<label style="justify-content: center">Search</label>
<form class="form-inline my-3 my-lg-0">
 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
 <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
</form>
<br/>
<label style="text-align: center">Choose type of reptile</label>
<form method="GET" class="form-inline">
     {% csrf_token %}
  <!-- <select class="form-control mr-sm-2" name="reptiletype"><option value="{{ filter.reptiletype }}"</select> -->
    <div class="form-control mr-sm-2" name="reptiletype" onchange="this.form.submit()">{{ filter.reptiletype }}</div>

  <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
</form>
</div>
</div>
<br/>
<br/>
<br/>

    <div class="col-xs-12 col-md-9 justify-content-center">
      <br/>
      <br/>
        {% for animal in animals %}
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'post_detail' animal.id %}">
            <div class="picture">
              <img style="width: 100%" src="{{MEDIA_URL}}{{animal.image}}" alt="">
            </div>
            <h4>{{animal.latinName}}</h4>
            </a>
          </div>
        </div>
      </div>
      <br/>

      {% endfor %}
    </div>
</div>
<br/>
<br/>
<br/>

{% endblock %}
