{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<br/>
<br/>
<br/>
<div class="row justify-content-center">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
          <h1 style="text-align: center">Posts Form</h1>
            <form method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   {{ form | as_bootstrap }}
                   {% for author in form %}
                   <select id="div_id_author" name="author" style="visibility: hidden;">...</select>
                  {% endfor %}
                   <button type="submit" class="btn btn-info">Save</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
